@model RoomMonitor.Models.RoomViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Name;
}
<link rel="stylesheet" type="text/css" href="~/Content/timer.css" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="clue"></div>
            <div class="timer">
                <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>:<span class="milliseconds"></span>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var roomHub = $.connection.roomHub;
        roomHub.client.initiateTimer = function (startMinutes) {
            if (flashTimeInterval) clearInterval(flashTimeInterval);
            $('.timer').removeClass('hidden');
            setTimeInMinutes(startMinutes);
        };
        roomHub.client.startTimer = function (endDateTime) {
            if (flashTimeInterval) clearInterval(flashTimeInterval);
            $('.timer').removeClass('hidden');
            endDateTime = new Date(Date.parse(endDateTime));
            startTimer(endDateTime);
        };
        roomHub.client.pauseTimer = function () {
            if (flashTimeInterval) clearInterval(flashTimeInterval);
            $('.timer').removeClass('hidden');
            pauseTimer();
        };
        roomHub.client.showTextClue = function (text) {
            $('.timer').addClass('shrunk');
            $('.clue').text(text);
            $('.clue').addClass('shown');
        };
        roomHub.client.hideTextClue = function () {
            $('.clue').removeClass('shown');
            $('.timer').removeClass('shrunk');
            setTimeout(function() { $('.clue').text(''); }, 1000);
        };
        roomHub.client.playAudio = function(audioPath) {
            new Audio(audioPath).play();
        };
        roomHub.client.showImage = function(imagePath) {
            $('.timer').addClass('shrunk');
            $('.clue').prepend($('<img>', { id: 'imageClue', src:imagePath}));
            $('.clue').addClass('shown');
        };
        roomHub.client.hideImage = function() {
            $('.clue').removeClass('shown');
            $('.timer').removeClass('shrunk');
            setTimeout(function() {
                $('#imageClue').remove();
            }, 1000);
        };
        $.connection.hub.qs = 'id=' + @Model.Id;
        roomHub.connection.start(function() {
            console.log('connection started!');
            roomHub.server.updateRoom(@Model.Id);
        });
        setTimeInMinutes(@Model.StartMinutes);
    });

    function setTimeInMinutes(totalMinutes) {
        var hours = Math.floor(totalMinutes / 60);
        var minutes = totalMinutes % 60;
        setTime(hours, minutes, 0, 0);
    }

    var timeInterval;

    function startTimer(endDateTime) {
        if (flashTimeInterval) clearInterval(flashTimeInterval);
        if (timeInterval) clearInterval(timeInterval);
        timeInterval = setInterval(function() {
            setRemainingTime(endDateTime);
            if (Date.parse(endDateTime) - Date.parse(new Date()) <= 0) {
                endTime();
                clearInterval(timeInterval);
            }
        });
    }

    function pauseTimer() {
        if (timeInterval) clearInterval(timeInterval);
    }

    function setRemainingTime(endDateTime) {
        var millisecondsRemaining = endDateTime - new Date();
        var hours = Math.floor(millisecondsRemaining / 1000 / 60 / 60);
        var minutes = Math.floor((millisecondsRemaining / 1000 / 60) % 60);
        var seconds = Math.floor((millisecondsRemaining / 1000) % 60);
        var milliseconds = millisecondsRemaining % 1000;
        setTime(hours, minutes, seconds, milliseconds);
    }

    function setTime(hours, minutes, seconds, milliseconds) {
        $('.hours').text(pad(hours,2));
        $('.minutes').text(pad(minutes,2));
        $('.seconds').text(pad(seconds, 2));
        $('.milliseconds').text(pad(milliseconds,3));
    }

    var flashTimeInterval;

    function endTime() {
        setTime(0, 0, 0, 0);
        if (flashTimeInterval) clearInterval(flashTimeInterval);
        flashTimeInterval = setInterval(function() {
            if ($('.timer').hasClass('hidden')) {
                $('.timer').removeClass('hidden');
            } else {
                $('.timer').addClass('hidden');
            }
        },
            500);
        $.connection.roomHub.server.timerFinished(@Model.Id);
    }

    function pad(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }
</script>
